<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/static/hangman.css">
</head>
<body>
    <a href="/">Back to level selection</a>

    <h1>Mode {{.Level}}</h1>
    <h2>{{.CompleteWord}}</h2>
    <div>
        <h1>Letters</h1>
        <div class="flex monospace">
            {{range .Letters}}
                {{if .Used}}
                    <div class="letter used">{{.Value}}</div>
                {{else}}
                    <div class="letter">{{.Value}}</div>
                {{end}}
            {{end}}
        </div>
    </div>
    <div>
        <h1>Game to find (errors: {{.Errors}})</h1>
        <div class="flex monospace">
            {{range .CurrentWord}}
                {{if eq . " " }}
                    <div class="space">{{.}}</div>
                {{else}}
                    <div class="tofind">{{.}}</div>
                {{end}}
            {{end}}
        </div>
    </div>
    <form method="post" action="/play">
        <input id="letter" name="letter" type="text" maxlength="1" autocomplete="off">
        <label for="letter">Letter</label>
        <button type="submit">Send</button>
    </form>
</body>
</html>