<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hangman</title>
        <link rel="stylesheet" href="/static/hangman.css">
    </head>

    <body>
        <h1>Hangman</h1>

        <h2>Current level: {{.Level}}</h2>
        <div class="buttons">
            <a class="button grey" href="/select-level">Change level</a>
            <a class="button green" href="/play">Play!</a>
        </div>
    </body>
</html>