<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hangman - Select Level</title>
        <link rel="stylesheet" href="/static/hangman.css">
    </head>

    <body>
        <h1>Hangman</h1>
        <h2>Select level:</h2>
        <form class="flex" method="post" action="/select-level">
            <select name="level">
                <option value="jrpgs">JRPGs</option>
                <option value="playstation">Playstation</option>
                <option value="nintendo">Nintendo</option>
            </select>
            <button class="box green" type="submit">Validate</button>
        </form>
    </body>
</html>