body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.flex > div {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.used {
    color: #ccc;
}

.buttons {
    display: flex
}

.button {
    margin: 0 20px;
    border: 2px solid black;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 4px 4px #aaa;
}

.grey {
    background-color: #ccc;
}

.green {
    background-color: #4caf50;
}