* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

select {
    padding: 10px 20px;
    cursor: pointer;
}

button {
    display: flex;
    margin: 0 20px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 4px 4px #aaa;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button.grey {
    background-color: #ccc;
}

button.green {
    background-color: #4caf50;
}

button:hover {
    opacity: .7;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-family: monospace;
}

.letter:disabled {
    cursor: not-allowed;
    opacity: .3;
}

.letter:disabled:hover {
    opacity: .3;
}

.letter.space {
    border: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
